# ====================================================================
# MODO DE EXECUÇÃO DO JAVA
# ====================================================================
-server

# ====================================================================
# ALOCAÇÃO DE MEMÓRIA (HEAP SIZE)
# ====================================================================
-Xmx1536M
-Xms1536M

# ====================================================================
# CONFIGURAÇÕES DO GARBAGE COLLECTOR (G1GC)
# ====================================================================
-XX:+UseG1GC
-XX:G1HeapRegionSize=32M
-XX:+ExplicitGCInvokesConcurrent

# ====================================================================
# TRATAMENTO DE ERROS DE MEMÓRIA (OOM)
# ====================================================================
-XX:+HeapDumpOnOutOfMemoryError
-XX:+ExitOnOutOfMemoryError