# ====================================================================
# AMBIENTE E IDENTIFICAÇÃO
# ====================================================================
node.environment=production
node.id={{ ansible_hostname }}

# ====================================================================
# DIRETÓRIOS E DADOS
# ====================================================================
node.data-dir={{ data_dir }}

# ====================================================================
# REDE E COMUNICAÇÃO
# ====================================================================
node.internal-address=192.168.56.102